form#newGame(action='/games/start', method='post')
  fieldset
    legend New Game
    .row
      .small-12.columns
      mixin field(12, 'player', 'Player name?', null, 'Sara', true)
    .row
      .small-12.columns
      mixin field(8, 'numMatches', 'How many pairs?', null, '5', false)
      .small-4.columns: button.radius.success.small.expand(type='submit') Start